:root {
  --background: black;
  --panel-background: gray;
  --panel-background-dark: #3a3a3a;
  --tile-width: 80px;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--bio-background);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--card-background);
}

body {
  background-color: var(--background);
  color: white;
}

h1 {
    margin: 2px;
}

h4{
    margin: 2px;
}

button {
  background-color: var(--panel-background);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3em;
  margin: 4px;
  word-break: normal;
}

button:hover{
  background-color: var(--panel-background-dark);
}

select {
    color: black;
}

table {
    margin-right: 20px;
    margin-left: 20px;
    border-spacing: 0px;
}

tr {
    padding: 0px;
    margin: 0px;
}

td {
    padding: 0px;
    margin: 0px;
    width: var(--tile-width);
    height: var(--tile-width);
    overflow: hidden;
}

.tile-image {
    position: absolute;
    width: var(--tile-width);
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.rotate-90 {
    transform: rotate(90deg);
}

.rotate-180 {
    transform: rotate(180deg);
}

.rotate-270 {
    transform: rotate(270deg);
}

#build-controls {
    display: inline-block;
    vertical-align: top;
}

#floorPlan-view {
    display: inline-block;
    position: relative;
}

#current-tool {
    width: var(--tile-width);
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.tile-text {
    font-size: 40px;
    color: var(--panel-background);
    width: var(--tile-width);
    height: var(--tile-width);
    position: absolute;
    text-align: center;
}

.selected-tile {
    box-sizing: border-box;
    border: 10px solid var(--panel-background);
}

.crewman{
    position: absolute;
    background-color: red;
    border-radius: 50%;
    width: var(--tile-width);
    height: var(--tile-width);
}